<div id="welcome-panel" class="welcome-panel">
		<input type="hidden" id="welcomepanelnonce" name="welcomepanelnonce" value="47dcb9a0d7">		
			<div class="welcome-panel-content">
	<h3>Bienvenido a SP Security</h3>
	<hr>
	<p class="about-description"><img src="https://www.uco.es/internacionalcoopera/imagen/LOGO3.jpg" align="left" width="400">Con este plugin puedes conocer en cualquier cuando un usuario ha sido logueado en esta página. De inmediato recibirá un email en su bandeja de entrada indicando la hora del acceso, el usuario e incluso si lo necesita la geolocalización del usuario</p><br>
	<p class="about-description">Este plugin ha sido desarrollado por <a href="http://www.twitter.com/sergiormb">Sergio Pino Márquez</a> para la asignatura de Seguridad Informática de la Universidad de Córdoba. Profesor: Juan Antonio Romero</p>
	<div class="welcome-panel-column-container">
	<div class="welcome-panel-column">
					

			<a class="button button-primary button-hero load-customize hide-if-no-customize" href="http://localhost/wp-admin/customize.php">¡Comenzar!</a>
				<br>
					
			</div>

	</div>
	</div>
</div>